{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <!-- Required Meta Tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Main CSS -->
      <!-- Uncommit once link to python complete -->
      <link rel="stylesheet" type="text/css" href="{% static 'portfolio/main.css' %}">
      <!-- <link rel="stylesheet" type="text/css" href="../static/portfolio/main.css"> -->
      <title>IEX project</title>
   </head>
   <body>
      {% block content %}{% endblock %}
   </body>
</html>
